/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrati-Bold";
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "medium";
  src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "light";
  src: url(./fonts/Montserrat-Light.ttf);
}
body {
  background-color: #26335d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 5% 0;
}
header a {
  color: #26335D;
  font-family: bold;
  text-decoration: none;
}
header .header-inner .toggler-menu {
  background: transparent;
  position: absolute;
  right: 10%;
  height: 100%;
  width: 40px;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  margin: 18px -10px 0 0;
}
header .header-inner .hamburger {
  background: #26335D;
  width: 30px;
  height: 5px;
  position: relative;
  right: 5%;
  transition: 0.3s;
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
}
header .header-inner .hamburger:before,
header .header-inner .hamburger:after {
  background: #26335D;
  width: 30px;
  content: "";
  height: 5px;
  position: absolute;
  transition: 0.3s;
  border-radius: 10px;
}
header .header-inner .hamburger:after {
  top: -10px;
}
header .header-inner .hamburger:before {
  top: 10px;
}
header .header-inner .open {
  background-color: transparent;
}
header .header-inner .open:before {
  top: 0;
  transform: rotate(45deg);
  width: 100%;
}
header .header-inner .open:after {
  top: 0;
  transform: rotate(-45deg);
  width: 100%;
}
header .header-inner .menu {
  overflow: hidden;
  display: none;
  position: absolute;
  max-height: 0;
  background: rgb(252, 252, 252);
  width: 100%;
  top: 7%;
  right: 0;
  line-height: 30px;
  transition: 0.7s;
}
header .header-inner .menu li {
  width: 100%;
}
header .header-inner .menu li a {
  color: #26335d;
  font-family: "Montserrati-Bold";
  padding: 20px;
  font-size: 20px;
  display: block;
  transition: all 0.7s ease;
}
header .header-inner .menu li a:hover {
  background-color: #E74040;
}
header .header-inner .menu .buttons {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 30px;
}
header .header-inner .menu .buttons button {
  background: #26335d;
  height: 50px;
  width: 130px;
}
header .header-inner .menu.dropped {
  max-height: 800px;
  padding: 5% 0;
}
@media (min-width: 768px) {
  header .header-inner .menu.dropped {
    padding: 0;
  }
}
@media (min-width: 768px) {
  header {
    margin: 0;
    padding: 0;
  }
  header .header-inner {
    padding: 1% 0;
    gap: 5%;
  }
  header .header-inner .logo {
    font-size: 25px;
  }
  header .header-inner .menu {
    gap: 20%;
    padding: 0;
    margin: 0;
    top: 0%;
    width: 100%;
    position: relative;
    background: none;
    max-height: unset;
  }
  header .header-inner .menu ul {
    gap: 10%;
  }
  header .header-inner .menu ul li a {
    padding: 0;
    font-size: 14px;
    font-weight: bold;
  }
  header .header-inner .menu .buttons {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  header .header-inner .menu .buttons {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    margin-left: 300px;
  }
}
.hero {
  margin-bottom: 130px;
  background: linear-gradient(rgba(76, 75, 75, 0.725), rgba(0, 0, 0, 0.3764705882)), url(../img/features-11-video-thumb.png);
  background-size: cover;
  height: 140vh;
  justify-content: center;
  align-items: center;
}
.hero h6 {
  font-size: 22px;
  margin-top: 40px;
  font-weight: light;
}
.hero h5 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 180px;
  padding-left: 20px;
}
.hero h1 {
  font-size: 58px;
  font-weight: 600;
}
.hero hr {
  color: white;
}
.hero .call {
  background-color: #26335d;
  color: white;
  border: none;
  height: 50px;
  width: 180px;
  padding-top: 10px;
}
.hero .mo {
  height: 50px;
  width: 160px;
  padding-top: 10px;
}

.teacher {
  margin-top: 150px;
  margin-bottom: 150px;
}
.teacher h2 {
  font-size: 40px;
  color: white;
  margin-top: 40px;
  padding-bottom: 40px;
}
.teacher .sd {
  position: relative;
  top: 50px;
}
.teacher p {
  color: white;
  font-size: 16px;
  margin-bottom: 5%;
  font-weight: medium;
}
.teacher a {
  color: #8D5CF6;
  text-decoration: none;
  margin-bottom: 70px;
}
.teacher .hun {
  background-color: #E74040;
  height: 6px;
  width: 90px;
  margin-left: 20px;
  margin-top: 100px;
}

.affordable {
  margin-top: 146px;
  margin-bottom: 150px;
}
.affordable h2 {
  font-size: 43px;
  color: white;
  margin-top: 40px;
  padding-bottom: 40px;
}
.affordable .play {
  position: relative;
  bottom: 200px;
  left: 240px;
  border-radius: 90px;
}
.affordable .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #8D5CF4;
  border: none;
  outline: none;
}
.affordable .triangle {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  border-left: 20px solid white;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
.affordable p {
  color: white;
  font-size: 16px;
  margin-bottom: 5%;
}
.affordable a {
  color: #8D5CF6;
  text-decoration: none;
  margin-bottom: 70px;
}
.affordable .bun {
  background-color: #e74040;
  height: 7px;
  width: 90px;
  margin-left: 20px;
  margin-top: 100px;
}
.affordable .round {
  border-radius: 35px;
}
.affordable .gogy {
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.affordable::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #302d2d);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  content: "";
}

.popular {
  margin-top: 120px;
  margin-bottom: 148px;
}
.popular h6 {
  color: #8D5CF4;
  margin-bottom: 30px;
}
.popular a {
  position: absolute;
  text-decoration: none;
  background-color: #E74040;
  color: white;
  margin: 17px;
  width: 45px;
  text-align: center;
}
.popular .fifi {
  margin-top: 30px;
  left: 10px;
}

.kt {
  margin-top: 3%;
}

.cons {
  position: absolute;
  font-size: 15px;
  top: 35%;
  color: black;
  left: 30%;
}
.cons .fa {
  border-radius: 100%;
  padding: 15% 15%;
  width: 50%;
  padding: 10px;
}

h5 {
  color: #8D5CF4;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5%;
  padding: 3%;
  padding-left: 8%;
}

.s {
  position: absolute;
  height: 25px;
  width: 13%;
  border: none;
  background-color: #26335D;
  border-radius: 20px;
  color: white;
  left: 85%;
  font-size: 12px;
  margin-top: 40px;
}
.s i {
  color: yellow;
}

h2 {
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}

p {
  color: white;
  font-size: 16px;
  margin-bottom: 1px;
  gap: 40%;
}

.noe {
  margin-bottom: 60px;
}

.strong {
  color: #313236;
}

.inno {
  margin-left: 8%;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  background-color: white;
  border-color: #8D5CF6;
  color: #8D5CF4;
}

.small {
  padding: 8%;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.grey-text {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 800;
  margin-left: 8%;
}

.reezy {
  color: #f07950;
  font-size: 13px;
  font-weight: 800;
  line-height: 50px;
}

.refiloe {
  font-size: 13px;
  margin-left: 8%;
  margin-bottom: 4%;
}

.samm {
  color: #737373;
  margin-top: 10%;
}

.comments {
  margin-bottom: 100px;
}
.comments .runner {
  padding-bottom: 150px;
}
.comments .dude {
  font-size: 35px;
  font-weight: 600;
}
.comments .run {
  padding-top: 50px;
  padding-bottom: 50px;
}
.comments .dudet {
  font-weight: 300;
  font-size: 12px;
}
.comments .star {
  width: 150px;
  margin-top: 50px;
  position: relative;
  right: 10px;
}
.comments h6 {
  color: #8D5CF6;
}
.comments .wrd {
  font-size: 12px;
  font-weight: 600;
  padding-left: 20px;
  color: #6a57e9;
}
.comments .j {
  width: 60px;
}
.comments .r {
  font-weight: 300;
  font-size: 15px;
  color: rgb(117, 117, 117);
  line-height: 20px;
}
.comments .rob {
  padding-left: 75px;
  position: relative;
  bottom: 20px;
  right: 10px;
  font-weight: 200px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3764705882);
}
.comments .star {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: gold;
  position: relative;
  left: 33%;
}

.FAQ h2 {
  font-size: 40px;
}
.FAQ h3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
  color: #252b42;
}
.FAQ p {
  color: #B4B4B4;
  margin-top: 20px;
  line-height: 25px;
  height: 55px;
  margin-bottom: 40px;
}
.FAQ .purple {
  color: #3904ab;
  margin: 20px;
}

.newsletter {
  margin-top: 150px;
  margin-bottom: 140px;
}
.newsletter h6 {
  font-size: 16px;
  color: #8D5CF4;
  margin-bottom: 20px;
}
.newsletter p {
  color: white;
  margin-bottom: 50px;
}
.newsletter h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
.newsletter input {
  height: 55px;
}
.newsletter button {
  height: 55px;
  background-color: #26335D;
}

.footer {
  margin-top: 40px;
}
.footer a {
  text-decoration: none;
  color: white;
}

.last a {
  color: #531bca;
}
.last p {
  color: rgb(94, 92, 92);
}
.last .icn {
  gap: 10%;
}

@media (min-width: 768px) {
  .cons {
    top: 150px;
  }
  .btn-play {
    top: 250px;
  }
  .triangle {
    top: 250px;
  }
}
@media (min-width: 1200px) {
  .cons {
    top: 40%;
  }
}/*# sourceMappingURL=style.css.map */